.MapDisplay {
  background-color: lightsteelblue;
}

.MapDisplay .countryx {
  fill: white;
  /* stroke: gainsboro;
  stroke-width: 1; */
  shape-rendering: crispEdges;
  /* vector-effect: non-scaling-stroke; */
}

.MapDisplay .country--selectedx {
  /* fill: red; */
  stroke: gainsboro;
  stroke-width: 1;
  shape-rendering: crispEdges;
  /* vector-effect: non-scaling-stroke; */
}
